#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.outlet {
  border: 1px solid #f9f9f9;
  padding: 10px;
}

header {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
}

h1 {
  color: #f37a09;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.p-header {
  color: #f9f9f9;
  color: #969c9eaa;
  font-style: italic;
  padding: 10px;
}

p {
  color: #61dafbaa;
  line-height: 1.5;
}

p:hover {
  color: #f9f9f9;
  filter: drop-shadow(0 0 2em #f9f9f9);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
